# Python
__pycache__/
.ipynb_checkpoints/
.venv/
*.egg-info/

artifacts/
logs/
.aider*
.wandb/
.env
.DS_Store
tmp/
elm-stuff/

# Testing
.coverage
.coverage.*
coverage.json

.hypothesis/

pytest.json
